@import '../../../sass/index.scss';

.container {
	background-color: $dark-gray;
}

.card {
	padding: 0.1rem 0.1rem 1rem 0.1rem;
	border-radius: 8px;
	width: 400px;
	margin: 2rem auto;
	color: $white;
	background: linear-gradient(
		160deg,
		rgb(13, 13, 13) 0%,
		rgb(47, 52, 95) 35%,
		rgb(213, 83, 88) 100%
	);

	& .card__info {
		display: flex;
		justify-content: space-between;
		padding: 1rem;

		& .logo {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 0.6rem;
			opacity: 0.8;

			& .icon {
				transform: rotate(90deg);

				& .svg {
					background-color: transparent;
					color: $white;
					height: 2rem;
					width: 2rem;
				}
			}

			& .text {
				text-transform: uppercase;
				letter-spacing: 2px;
				font-weight: 900;
			}
		}

	}



	}
}


