@import '../../../sass/index.scss';

.container {
  background-color: $light-gray;
  margin-bottom: 4rem;

  & > hr {
    height: 1px;
    width: 90%;
    background-color: $purple;
    border: none;
    opacity: 0.5;
    margin: 0 auto;
    margin-top: 3.5rem;
  }

  & .bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4rem auto;

    & .bar__left {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.4rem;

      & .progress {
        background-color: $light-gray;
        color: $purple;
        height: 4rem;
        width: 4rem;
        opacity: 0.7;
      }

      & .credit__limit {
        & h6 {
          font-size: 1rem;
        }

        & .curr {
          margin: 1rem;
          font-size: 0.8rem;
        }
      }
    }

    & .chev {
      background-color: transparent;
      font-size: 2rem;
    }
  }
}
