@import '../../../sass/index.scss';

.container {
	background-color: $dark-gray;
	width: 500px;
	margin-bottom: 4rem;

	& > hr {
		width: 400px !important;
		height: 1px;
		background-color: $purple;
		border: none;
		margin: 4rem auto;
		opacity: 0.5;
	}


