@import '../../sass/utilities/variables';

.button {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  border: none;
  color: $purple;
  font-size: 1rem;

  span {
    margin-right: 0.5rem;
  }
}
