@import '../sass/index.scss';

.visa {
	background-color: $dark-gray;
	color: $purple;
	width: 500px;
	height: 100vh;

	& .heading {
		width: 400px;
		margin: auto;
		padding-top: 4rem;

		& .title {
			& > h2 {
				font-weight: 300;
			}
		}
	}

	.title {
		display: flex;
		justify-content: space-between;
		padding: $sm-padding;
	}




}
