@import '../../sass/utilities/variables';

.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: 100vh;
  border-right: 1px solid $dark-gray;
  padding: $lg-padding;
}

.startlist {
  font-size: 5rem;
}
