@import '../../sass/index.scss';

.history {
  padding: $lg-padding;
  background-color: $white;
  color: $purple;
  border-radius: $radius;
}

.carousel {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: $md-padding;
  margin: 15px 0 30px 0;
  font-size: 0.8rem;
}

.list {
  padding: $md-padding;
  gap: $md-padding;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
